{% extends "::base.html.twig" %}

{% block title %}ManafootHomeBundle:Home:Index{% endblock %}

{% block body %}
<h1>Welcome at Manafoot</h1>
<p>Encore un jeu de management de football</p>
{% endblock %}
