{% extends "::base.html.twig" %}

{% block title %}Dashboard - Manafoot{% endblock %}

{% block body %}
<p>Dashboard

{% if games|length > 0 %}
<p>Listes des parties en cours :
    <ul>
        {% for game in games %}
            <li>{{game}} <a href='/resume/g_{{ game }}'>jouer</a> - <a href='/delete/g_{{game}}'>supprimer</a></li>
        {% endfor %}
    </ul>
{% endif %}

<p><a href="/game/new">Start new Game</a>

{% endblock %}
