{% extends "::base.html.twig" %}

{% block title %}Game dashboard{% endblock %}

{% block body %}

<div class="container-fluid">
<div class="row-fluid">
  <div class="span11">
    {% for event in events %}
    <p>{{event.date}} : {{event.descr}}</p>
    {% endfor %}
  </div>
  <div class="class1">
    <a class="btn btn-primary" href="/continue">Continue</a>
  </div>
</div>
</div>


{% endblock %}
